<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- link css -->
    <link rel="stylesheet" href="../assests/css/login.css">
    <link rel="stylesheet" href="../assests/css/base.css">
    <link rel="icon" href="../assests/img/BrainStormEra_logo.png" type="image/x-icon">
    <script src="../assests/js/login.js" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>BrainStormEra</title>
</head>

<body>
    <div class="container">

        <div class="forms-container">


            <div class="signin-signup">

                <img src="../assests/img/Register-login/login.png" alt="">

                <!-- login -->
                <form action="" class="sign-in-form">
                    <h2 class="title">Sign In</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Username" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" />
                    </div>
                    <input type="submit" value="Login" class="btn btn-submit solid"
                        style="background-color: white; font-family: Poppins; font-size: 1.6rem;" />
                </form>

                <!-- register -->
                <form action="#" class="sign-up-form">
                    <h2 class="title">Sign Up</h2>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input type="email" placeholder="Email" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="confirm_password" placeholder="Confirm password" />
                    </div>
                    <input type="submit" class="btn btn-submit" value="REGISTER"
                        style="background-color: white;font-family: Poppins; font-size: 1.6rem;" />

                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>
                        <span>Hello,</span> Friend!
                    </h3>
                    <p class="signin-signup-content">
                        Please log in using your personal information to stay connected with us.
                    </p>
                    <button class="btn transparent signin-signup-btn" id="sign-up-btn">
                        Sign up
                    </button>
                </div>
                <img src="" class="image" alt="" />
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>
                        <span>Welcome</span> Back!
                    </h3>
                    <p class="signin-signup-content">
                        Enter your personal details to use all of site features
                    </p>
                    <button class="btn transparent signin-signup-btn" id="sign-in-btn">
                        Sign in
                    </button>
                </div>
                <img src="" class="image" alt="" />
            </div>
        </div>
    </div>

</body>

</html>